/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con-wraper{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: white;
}
.se-pre-con {
	position: fixed;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
}
.se-pre-con div {
  position: absolute;
  border: 4px solid #00ceaa;
  opacity: 1;
  border-radius: 50%;
  animation: se-pre-con 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.se-pre-con div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes se-pre-con {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}


/* custom style for iframe */

.phone {
  border: 40px solid #ddd;
  border-width: 55px 7px;
  border-radius: 40px;
  margin: 50px auto;
  overflow: hidden;
  transition: all 0.5s ease;
}

.phone iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
.phone.view_3 {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  box-shadow: 0px 3px 0 #BBB, 0px 4px 0 #BBB, 0px 5px 0 #BBB, 0px 7px 0 #BBB, 0px 10px 20px #666;
}

.h_iframe iframe {
  width:100%;
  height:100%;
}
.h_iframe {
  height: 100%;
  width:100%;
}
/* end of custom style for iframe */




/* 
Base Style
*/

h1,h2,h3,h4,h5,h6,p,span,a {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
}

h1.title {
  font-size: 36px;
  line-height: 42px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 18px;
}

p.sub-title {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  line-height: 20px;
  margin: auto;
}

.white-text {
  color: #fff;
}

.black-text {
  color: #000;
}

.color-gray {
  color: #80838a;
}

.orange-text {
  color: #fd7400;
}

.blue-text {
  color: #00c0f4;
}

.green-text {
  color: #00ceaa;
}

.text-align-center {
  text-align: center;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

/* FancyBox Styling */
.fancybox-navigation {
  display: none;
}



/* 
Manu Styling
*/
.main-menu a {
  color: #000;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}


nav.main-menu {
  -moz-transition: all .6s ease;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}


nav.scrolled {
  background: #fff;
  box-shadow: 0 1px 7px #bbb6b645;
  margin-top: 0;
}

nav.scrolled .main-menu a, nav.scrolled .top-social a {
  color: #000;
}

nav.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  /*margin-top: 15px;*/
  transition: .25s linear;
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding-right: 1.1rem !important;
  padding-left: 1.1rem !important;
}
a.navbar-brand img.logo {
  max-width: 100px;
}
nav.scrolled {
  /*margin-top: 0;*/
}
body .main-menu a:hover {
  color: #00ceaa;
}


body .main-menu a.active {
  color: #00ceaa;
}



.top-social a {
  color: #000;
  padding: 0 10px !important;
  font-size: 20px;
}

ul.navbar-nav.top-social {
  border-left: 1px solid #000;
}

nav.scrolled ul.navbar-nav.top-social {
  border-left: 1px solid #000;
}

.tp-caption.finewide_medium_white span{
  font-weight: bold;
}
.tp-caption.small_text span{
  font-weight: 500;
  letter-spacing: normal;
}

.slotholder:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -180px;
  background-image: url('../img/slider-pattern.png');
  background-position: top left;
  background-repeat: no-repeat;
  /*background-size: contain;*/
  background-size: 53% 101%;
  -moz-transition: all .6s ease;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

.tparrows.preview1 {
  top: inherit !important;
  bottom: 0;
}

.app-screen {
  min-width: 365px;
  max-width: 365px !important;
  height: inherit !important;
}


ul.app-lint li a img {
  max-width: 120px !important;
  height: inherit !important;
}

ul.app-lint li {
  display: inline-block;
  margin: 0 5px !important;
}

ul.app-lint {
  text-align: center;
}

.tp-bullets.simplebullets.preview1{
  display: none !important;
  visibility: hidden !important;
}

/* 
News Letter
*/

.news-letter-form {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  max-width: 380px;
}


input.news-letter-submit {
  height: 60px;
  float: left;
  width: 60px;
  background: transparent;
  background-image: url('../img/next.png');
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  color: transparent;
  outline: 0;
}

input[name="phone-number"] {
  height: 60px;
  float: left;
  width: calc(100% - 60px);
  border: 0;
  outline: 0;
}


.tp-leftarrow {
  display: none !important;
}








/* 
Service Section
*/

section#service {
  margin-bottom: 120px;
  margin-top: 90px;
}

section#service p.sub-title {
  max-width: 465px;
}

ul.service-carousel {
  padding-left: 0;
  margin-bottom: 0;
}

ul.service-carousel li {
  list-style: none;
}


ul.service-carousel .owl-item.active li {
  border: 10px solid #fff;
}

.service-row {
  margin-top: 90px;
}

.service-details {
  max-width: 450px;
}

h1.servie-title {
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  margin-top: 30px;
}

p.service-sub-title {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
}


.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.service-carousel li {
  border: 10px solid transparent;
}


.service-carousel {
  background-repeat: no-repeat;
  background-size: contain;
  padding: 45px 0 55px 0;
}

#service-carousel1 {
  background-image: url('../img/skew-yellow.png');
}
#service-carousel2 {
  background-image: url('../img/skew-blue.png');
}
#service-carousel3 {
  background-image: url('../img/skew-gray.png');

}

#service-carousel1, #service-carousel3 {
  background-position: top right;
}

#service-carousel1 .owl-nav , #service-carousel3 .owl-nav {
  margin-right: 120px;
  text-align: right;
}

.service-carousel .owl-nav {

  margin-top: 55px;
  margin-left: 120px;
}

.service-carousel .owl-nav img {
  width: 34px;
}

.service-carousel .owl-nav button {
  outline: none;
  margin: 0 15px;
}


ul#service-carousel1 .owl-stage { left: -100px !important; } 
ul#service-carousel2 .owl-stage { right: -100px !important; } 
ul#service-carousel3 .owl-stage { left: -100px !important; } 

/* .video-play-button {
  opacity: 0;
}


ul.service-carousel li:hover .video-play-button {
  opacity: 1;
} */

/* Play button */
.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #00c2a0;
  border-radius: 50%;
}

ul.service-carousel li:hover .video-play-button:before{
animation: pulse-border 1500ms ease-out infinite;
}


.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #00c2a0;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: darken(#fa183d, 10%);
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}


/* 
Award Section
*/
section#awards {
  background: #00c2a0;
  padding-top: 80px;
  padding-bottom: 70px;
}


section#awards p.sub-title {
  max-width: 465px;
}

ul.award-carousel {
  margin-top: 75px;
}

ul.award-carousel li {
  /* border-radius: 14px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.12); */
  background-color: #ffffff;
  padding: 10px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  list-style: none;
}

ul.award-carousel li h3 {
  font-size: 18px;
  line-height: 24px;
  padding: 0 40px 0 70px;
  margin-top: 20px;
  background: url('../img/cup.png') no-repeat 10px center;
  font-weight: normal;
  background-size: 40px;
}


.owl-dots {
  /* background: red; */
  margin-top: 40px;
  text-align: center;
}

ul.award-carousel button.owl-dot {
  border: 2px solid transparent;
  margin: 0 5px;
  border-radius: 50%;
}

ul.award-carousel button.active {
  border: 2px solid #fff;
}


.owl-dots button span {
  background: rgba(0, 0, 0, 0.2) !important;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: block;
  margin: 3px;
}

.owl-dots button.active span {
  background: #fff !important;
}

ul.award-carousel button:focus {
  outline: none;
}










/* 
FAQ Section
*/
section#faq {
  padding-top: 110px;
}

ul.faq {
  padding-top: 65px;
  padding-bottom: 140px;
  max-width: 780px;
  margin: auto;
}

ul.faq li{
  list-style: none;
  background: #f4f5f6;
}

span.question-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../img/question-default.png);
  background-size: cover;
  position: absolute;
  top: 50%;
  margin-top: -15px;
}

li.q.active span.question-icon {
  background-image: url(../img/question.png);
}

li.q.active {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}


span.indicator {
  width: 16px;
  height: 16px;
  background-image: url(../img/plus.png);
  background-size: 16px;
  background-position: center center;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -8px;
  
}

li.q.active span.indicator {
  background-image: url(../img/min.svg);
  background-repeat: no-repeat
}

p.question-title {
  margin: 0 30px 0 60px;
  font-size: 16px;
  font-weight: normal;
  -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    font-weight: 500;
}

li.q.active p.question-title {
  color: #00a588;

}


li.q:not(:first-child){
  margin-top: 10px;
}

ul.faq li.q {
  cursor: pointer;
  position: relative;
  padding: 15px;
  border-radius: 6px;
  border-top-right-radius: 6px;
}

ul.faq li.a {
  display: none;
  padding-bottom: 25px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}


li.a p {
  margin: 0 30px 0 30px;
  border-left: 1px dashed #79797a;
  padding: 0 0 0 44px;
  line-height: 26px;
  letter-spacing: -0.2px;
}











/* 
Prmotion Section Style
*/
#app-promotion {
  background:  url(../img/footer-bg.png) no-repeat bottom center, linear-gradient(268deg, #05a98d, #07bd9d);
  background-size: contain; 
  padding-top: 65px;
  padding-bottom: 400px;
}

.app-promotion__info {
  margin-top: 100px;
}

.app-link {
  margin-left: -12px;
  margin-top: 20px;
}

.app-link a {
  padding: 0;
  max-width: 205px;
}










/* 
Footer Style
*/
footer#footer {
  padding: 43px 0;
  background-image: linear-gradient(to left, #00725e, #008069);
  color: #fff;
}

footer#footer a {
  color: #fff;
}

.address p i {
  float: left;
  margin-top: 5px;
  font-size: 13px;
}

.address p {
  overflow: hidden;
  margin-bottom: 10px;
}


.address p span {
  padding-left: 15px;
  float: left;
  width: calc(100% - 20px);
}



.footer-menu .nav-link {
  display: block;
  padding: 0;
  line-height: 25px;
}


nav.social-link a {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  line-height: 40px;
  font-size: 21px;
  text-align: center;
  padding: 0;
  margin-right: 20px;
}

select#language-change {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 0 0 0 40px;
  height: 45px !important;
  line-height: 43px;
  margin-top: 20px;
  max-width: 220px;
  border-radius: 0;
  text-transform: uppercase;
  background-image: url('../img/globe.png');
  background-repeat: no-repeat;
  background-position: 15px 12px;
  background-size: 20px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


/* 
Navbar Styling
*/
.navbar-mobile-icon-bar {
  width: 20px;
  height: 2px;
  background: #eff2f7;
  display: block;
}

button.navbar-toggler {
  border: 0;
  padding: 0;
  outline: 0;
}


.navbar-mobile-icon-bar:not(:last-child) {
  margin-bottom: 4px;
}

nav .navbar-mobile-icon-bar{
  background: #000;
}

.view-only-mobile {
  display: none;
}

.hide-on-mobile {
  display: block;
}












/* 
Responsive CSS

*/
@media only screen and (max-width: 767px) {

  .view-only-mobile {
    display: block;
  }

  .hide-on-mobile {
    display: none;
  }



  .owl-carousel {
    display: block !important;
  }

  .service-details {
    width: 100%;
  }

  .no-padding-right {
    padding-right: 15px;
  }

  .no-padding-left {
    padding-left: 15px;
  }

  ul.service-carousel li {
    border: 0;
  }


  ul.service-carousel li+li {
    margin-top: 15px;
  }


  ul.award-carousel li+li {
    margin-top: 15px;
  }


  ul.award-carousel li {
    border-radius: 5px;
  }


  .reverse-in-mobile {
    flex-direction: column-reverse;
  }


/* Slider Stylings */
/* .tp-caption.lfb.tp-resizeme.rs-parallaxlevel-0.start.hasclicklistener {
  width: 100%;
  top: 110px !important;
  text-align: center;
  margin: auto !important;
  float: none;
}

.tp-caption.lfb.tp-resizeme.rs-parallaxlevel-0.start.hasclicklistener img {
  width: 80% !important;
  height: inherit !important;
} */
/* Slider style */




/* 
Main Menu Styling
*/

a.navbar-brand {
  padding: 0;
  font-size: inherit;
}

nav.navbar {
  padding: 10px 15px;
  background: #fff;
  box-shadow: 0 1px 7px #bbb6b645;
}

a.navbar-brand img {
  max-width: 70px;
}

nav .main-menu {
  margin-top: 20px;
}

nav .main-menu a, nav .top-social a {
  color: #000;
}


ul.navbar-nav.top-social {
  display: block;
  border: 0 !important;
  margin-top: 10px;
}

.top-social a {
  display: inline-block;
  padding: 0 15px;
  font-size: 20px;
}

.top-social a:first-child {
  padding-left: 0 !important;
}


/* 
Footer Styling

*/

.copyright-text {
  margin: 0 -15px;
  font-size: 10px;
  text-align: center;
  color: #015e4e;
  padding: 10px 15px;
  background-image: linear-gradient(268deg, #05a98d, #07bd9d);
}


footer#footer {
  padding-bottom: 0;
}


footer#footer a, footer#footer p {
  font-size: 11px;
}

footer#footer nav.social-link {
  display: block;
  text-align: center;
  margin: 25px 0 35px 0;
}

footer#footer nav.social-link a {
  display: inline-block;
  font-size: 20px;
}


/* 
Service Section
*/

section#service {
  margin-bottom: 40px;
  margin-top: 50px;
}


.service-row {
  margin-top: 55px;
}

h1.servie-title {
  font-size: 32px;
  line-height: 40px;
  margin-top: 15px;
  margin-bottom: 30px;
}

p.service-sub-title {
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 3.3px;
  margin-bottom: 0;
}

.service-carousel {
  padding: 30px 0 0 0;
}



.video-play-button {
  width: 22px;
  height: 22px;
  padding: 8px 10px 8px 18px;
}

.video-play-button:before {
  display: block;
  width: 60px;
  height: 60px;

}

.video-play-button:after {
  width: 60px;
  height: 60px;

}


.video-play-button span {
  border-left: 22px solid #fff;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}


/* 
Award Section
*/
section#awards {
  padding-top: 55px;
  padding-bottom: 40px;
}

ul.award-carousel {
  margin-top: 55px;
  padding-left: 0;
}

ul.award-carousel li h3 {
  font-size: 12px;
  line-height: 16px;
  padding: 0 20px 0 50px;
  margin-top: 12px;
  background: url(../img/cup.png) no-repeat 10px center;
  background-size: 26px;
}



/* 
FAQ
*/

ul.faq {
  padding: 40px 0 40px 0;
}

section#faq {
  padding-top: 55px;
}


p.question-title {
  font-size: 12px;
  line-height: 16px;
  margin: 0 25px 0 30px;
}


span.question-icon {
  width: 22px;
  height: 22px;
  margin-top: -11px;
}


span.indicator {
  width: 12px;
  height: 12px;
  margin-top: -6px;
}


li.a p {
  margin: 0 25px 0 25px;
  padding: 0 0 0 19px;
  line-height: 18px;
  letter-spacing: -0.2px;
  font-size: 12px;
}


/* 
App Promotion
*/
.app-promotion__info {
  text-align: center;
  margin-top: 30px;
}


h1.title {
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 15px;
}

p.sub-title {
  font-size: 11px;
  line-height: 15px;
}

#app-promotion {
  padding-bottom: 185px;
  padding-top: 55px;
}

.app-link a {
  display: inline-block;
}

.app-link a img {
  max-width: 120px;;
}

.app-link {
  text-align: center;
  display: block;
}











/* 
Mobile Slider
*/
/* Will go in responsive css */
.app-screen {
  min-width: 85%;
  max-width: 85% !important;
  /*height: inherit !important;*/
}

.tp-caption {
  white-space: unset;
  padding: 0 15px;

}


.slide-heading {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  line-height: 26px;
  margin-bottom: 30px;
}

p.slide-subtitle {
  font-size: 11px;
  color: #fff;
  font-weight: 500;
}


.news-letter-form {
  border-radius: 6px;
  margin-bottom: 30px;
}

input[name="phone-number"] {
  height: 45px;
  width: calc(100% - 45px);
  font-size: 14px;
}


input.news-letter-submit {
  height: 45px;
  width: 45px;

}


ul.app-lint {
  margin-bottom: 30px !important;
}
.slotholder:after {
  background-image: url('../img/slider-pattern-mobile.jpg');
  background-size: 100% 75%;
  background-position: 0px -130px;
  background-repeat: repeat-x;
  left: 0;
}


.view-only-mobile .tp-banner-container,
.view-only-mobile .tp-banner-container li.tp-revslider-slidesli
{
  height: 790px !important;
}

}
