
html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: Open Sans,'Helvetica Neue',Arial,sans-serif;
	background: #FFF url("../images/pattern/pattern11.png") fixed; 
}

a {
	color: #8dc73f;
	transition: .4s;
}

a, a:hover, a:focus, a:active {
	outline: 0;
	text-decoration: none;
	transition: .4s;
	color:inherit;
}

a:hover {
	color: #8dc73f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif;
	color:#000;
}



ul, li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.no-padding {
	padding: 0 !important;
}

.outer-wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
	background:#fff;
}

.outer-wrapper.boxed {
	width: 98%;
	max-width:1250px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);
}

.outer-wrapper.boxed header {
	width: 100%;
	max-width:1250px;
	margin-left: auto;
	margin-right: auto;
}


#header-main.affix a.navbar-brand {
	font-size: 31px !important;
	margin: 5px 0 0;
}

#header-main.affix {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 0;
	padding: 10px 0;
	min-height: inherit;
	z-index: 999;
	background: #ffffff;
	background: rgba(255,255,255,1);
	border-bottom: 1px solid #efefef;
}

#header-main.affix .navbar {
	margin-top: 0px;
}

#header-main.affix .navbar-nav > li > .dropdown-menu {
	margin-top: 12px !important;
}

#header-main.affix .navbar-brand img {
	width: 80%;
	margin-top: 7px;
}

#header-main.affix .navbar-brand {
	line-height: 38px;
}

#header-main {
    padding: 0px;
    position: relative;
    background-color: #FFF;
    top: 0px;
    left: 0px;
    right: 0px;
    font-family: raleway;
    z-index: 99999;
}

#header-main .navbar-default {
	background-color: transparent;
	border: none;
}

#header-main .navbar-brand {
    padding: 7px 0 0;
}


#header-main .navbar-brand img {
    width: 123px;
    height: 24px;
}

#header-main .navbar {
	margin-bottom: 0;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0px;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0px;
	margin: 2px 0px 0px;
	list-style: outside none none;
	font-size: 14px;
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
	background-clip: padding-box;
}

#header-main .yamm .nav,
	#header-main .yamm .collapse,
	#header-main .yamm .dropup,
	#header-main .yamm .dropdown {
	position: static;
}

#header-main .yamm .container {
	position: relative;
}

#header-main .yamm .dropdown-menu {
	left: auto;
	right: auto;
}

.white-wrapper .testimonial h3,
	#header-main .yamm-fw .dropdown-menu li a {
	color: #262626 !important;
}

#header-main .yamm-fw .dropdown-menu li a:before {
	font-family: "FontAwesome";
	content: "\f105";
	font-size: 13px;
	padding-right: 5px;
}

#header-main .yamm-fw .dropdown-menu li {
	list-style: none;
	padding: 0;
}

#header-main .yamm-fw .nav.navbar-right .dropdown-menu {
	left: auto;
	right: 0;
}

#header-main .yamm .yamm-content {
	padding: 20px;
}

#header-main a:hover {
	text-decoration: none;
}

#header-main .dropdown-menu li a:focus,
	#header-main .dropdown-menu li a:active,
	#header-main .dropdown-menu li a:hover {
	background-color: #fff;
}

#header-main .yamm img {
	margin-bottom: 10px;
}

#header-main .dropdown-menu,
	#header-main .yamm .dropdown.yamm-fw .dropdown-menu {
	left: 0;
	right: 0;
	background-color: #fff;
	box-shadow: none;
	margin-top: -1px;
	border: none;
	border-top: 3px solid #fff;
z-index: 999999;
}

#header-main .navbar-nav > li > a:focus,
#header-main .navbar-nav > li > a {
	color: #262626;
	padding: 35px 18px 34px;
	font-size: 14px;
	overflow: hidden;
	position: relative;
	z-index: 99999;
}

#header-main .navbar-nav > li:hover > a ,
#header-main .navbar-nav > li > a:hover {
background:transparent !important;
}


#header-main .dropdown-menu li a {
	text-decoration: none;
	display: block;
	position: relative;
	padding: 15px 20px;
	font-size: 12px;
	color: #262626 !important;
	background: transparent !important;
	font-weight:500;
}

#header-main .dropdown-menu li a:hover {
	color: #8dc73f !important;
	background: #fff !important;
}

#header-main .dropdown-menu {
	padding: 0 !important;
	border-radius: 0 !important;
}

#header-main .yamm-fw .dropdown-menu li a {
	padding: 11px 0px;
	font-size: 13px;
	font-weight:500;
}

#header-main .yamm-fw .dropdown-menu li a:hover {
	background: transparent !important;
	color: #8dc73f !important;
}

#header-main .dropdown-menu li {
	float: none;
	display: block;
	margin: 0;
	text-align: left;
	border: 0;
	border-bottom: 1px solid #e1e1e1;
	position: relative;
}

#header-main .dropdown-menu li:last-child {
	border-bottom: 0;
}

#header-main .navbar-nav > li > a:hover,
	#header-main .navbar-default .navbar-nav > .open > a,
	#header-main .navbar-default .navbar-nav > .open > a:hover,
	#header-main .navbar-default .navbar-nav > .open > a:focus {
	color: #8dc73f !important;
}

#header-main .dropdown-menu,
	#header-main .yamm .dropdown.yamm-fw .dropdown-menu {
	border-top-color: #8dc73f !important;
}

#header-main .yamm h3 i,
	#header-main .yamm-fw .dropdown-menu li a:before {
	color: #8dc73f;
}

.yamm .dropdown-submenu > .dropdown-menu {
	top: 0px;
	left: 100% !important;
	margin-top: -3px !important;
	margin-left: -1px;
	border-radius: 0px 6px 6px;
}

#header-main .yamm .dropdown-menu {
	right: auto;
}

.arrow-up {
    color: rgb(0, 0, 0);
    font-size: 12px;
    display: inline-block;
    line-height: 0;
    position: relative;
    top: -1px;
    color: #aaa;
    margin-left: 2px;
}

#header-main .navbar-nav > li > a:hover .arrow-up {
	color:#8DC73F;
}

#header-main .navbar-nav > li > a.active .arrow-up {
	color:#8DC73F;
}

.navbar-brand {
	font-family: Pacifico;
	color: #000 !important;
	margin-top: 27px;
	font-size: 35px;
}

.navbar-nav {
	float: left;
	margin: 0 0 -1px;
}

.slider-wrap {
    position: relative !important;
}

.inner-content {
	padding: 90px 0;
}

.section-about h3 {
	font-size: 25px;
	margin: 15px 0 20px;
}

.section-services2 h3 {
	font-size: 25px;
	margin: 0 0 20px;
}

.ss2-content i {
	font-size: 35px;
	color: #8dc73f;
}

.ss2-content h4 {
	font-size: 16px;
	text-transform: uppercase;
	margin: 30px 0 13px;
}

.space10 {
	margin-bottom: 10px;
}

.space20 {
	margin-bottom: 20px;
}

.space30 {
	margin-bottom: 30px;
}

.space40 {
	margin-bottom: 40px;
}

.space50 {
	margin-bottom: 50px;
}

.space60 {
	margin-bottom: 60px;
}

.space70 {
	margin-bottom: 70px;
}

.space80 {
	margin-bottom: 80px;
}

.space90 {
	margin-bottom: 90px;
}

.space100 {
	margin-bottom: 100px;
}

.button {
	background: #000;
	padding: 15px 20px;
	color: #fff;
	text-transform: uppercase;
	border: none;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Montserrat;
	border-radius: 0px;
	display: table;
	transition: .4s;
}

.button:hover {
	background: #8dc73f !important;
	color: #fff !important;
}

.button.color2:hover  ,
.button.color3:hover  ,
.button.color4:hover {
	background: #000 !important;
	color: #fff !important;
}

.button.btn-border {
	background: transparent !important;
	padding: 15px 20px;
	color: #000;
	border: 2px solid #000;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Montserrat;
	border-radius: 0px;
	display: table;
	transition: .4s;
}

.button.btn-border:hover {
	background: #000 !important;
	color: #fff;
}

.button.color2 {
	background: #8dc73f;
}

.button.color3 {
	background: #0FA2D5;
}

.button.color4 {
	background: #FF4862;
}

.button.color5 {
	background: #8dc73f;
}

.button.color5:hover {
	background: #000 !important;
}

.button.btn-border.color2 {
	border-color: #8dc73f;
	color: #8dc73f;
}

.cta-clr {
	background:#8dc73f;
}

.button.btn-border.color3 {
	border-color: #0FA2D5;
	color: #0FA2D5;
}

.button.btn-border.color4 {
	border-color: #FF4862;
	color: #FF4862;
}

.button.btn-border.white {
	border-color: #fff;
	color: #fff;
}

.button.btn-border.color2:hover {
	background: #8dc73f !important;
	color: #fff;
}

.button.btn-border.color3:hover {
	background: #0FA2D5 !important;
	color: #fff;
}

.button.btn-border.color4:hover {
	background: #FF4862 !important;
	color: #fff;
}

.button.btn-border.white:hover {
	border-color: #fff;
	background:#fff !important;
	color: #000 !important;
}


.button.one {
	background: #8dc73f;
}

.btn-radius {
	border-radius: 5px !important;
}

.content-head {
	margin-bottom: 60px;
}

.content-head em {
	font-size: 18px;
	display: block;
	color: #777;
	margin: 8px 0 0;
}

.section-team-block .left {
	text-align: right;
	padding: 1px;
}

.section-team-block .left img {
	float: right;
	margin-left: 40px;
}

.section-team-block .right {
	text-align: left;
	padding: 1px;
}

.section-team-block .right img {
	float: left;
	margin-right: 40px;
}

.section-team-block h4 {
	margin: 10px 0 5px;
}

.section-team-block p {
	margin: 0 0 20px;
}

.small-sep {
	height: 2px;
	background: #8dc73f;
	width: 50px;
}

.social-c1 {
	margin-top: -15px;
	margin-bottom: 0px;
}

.left .social-c1 a {
	color: #000;
	margin-left: 3px;
}

.right .social-c1 a {
	color: #000;
	margin-left: 3px;
}

.right .social-c1 a:hover {
	opacity:0.5;	
}

.button.simple {
	background: transparent;
	border-bottom: 1px solid #000;
	border-radius: 0;
	padding: 0 0 5px;
	color: #000;
	font-size: 10px;
	letter-spacing: 2px;
	opacity: 0.3;
}

.skills {
}

/* Top bar */
#top-bar {
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  height: 40px;
  position: relative;
  color: #b3b3b3;
  -moz-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.05);
}
#top-bar .nav-social-icons {
  float: right;
  border-left: 1px solid rgba(0, 0, 0, 0.07);
}
#top-bar .top-bar-content {
  height: 100%;
  float: left;
  padding-right: 12px;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
}
#top-bar .top-bar-content p {
  margin: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  font-size: 11px;
  color: #b3b3b3;
}

#top-bar .top-bar-content p span {
	margin:0 5px;
}

#top-bar .container,
#top-bar .row,
#top-bar [class*="col-"] {
  height: 100%;
}
#top-bar a {
  color: #b3b3b3;
  font-weight: 400;
}
#top-bar a:hover {
  color: #b3b3b3;
}
#top-bar p a {
	border-bottom:1px solid #b3b3b3;
}
#top-bar p a:hover {
  text-decoration: none;
}

#top-bar .top-login {
  float: right;
  position: relative;
  z-index: 101;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  padding:0 15px;
}
#top-bar .top-login ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  right: 0;
  background: #333;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  padding: 5px 10px;
  display: none;
}
#top-bar .top-login ul li a {
  display: block;
  padding: 3px;
  color: #fff;
}
#top-bar .top-login:hover {
  cursor: pointer;
}
#top-bar .top-login:hover ul {
  display: block;
}

.top-login a {
	line-height:42px;
}

/* Social Icons */
.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  *zoom: 1;
}
.social-icons:after {
  content: "";
  display: table;
  clear: both;
}
.social-icons li {
  height: 32px;
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
}
.social-icons li a {
  height: 32px;
  width: 32px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  background: transparent;
  -moz-transition: background 0.2s, color 0.1s, box-shadow 0.1s;
  -o-transition: background 0.2s, color 0.1s, box-shadow 0.1s;
  -webkit-transition: background 0.2s, color 0.1s, box-shadow 0.1s;
  transition: background 0.2s, color 0.1s, box-shadow 0.1s;
  text-align: center;
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
  color: #919191;
}

.social-icons li a:hover {
  text-decoration: none;
  color: #fff;
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.social-icons li a i {
  display: block;
  height: 32px;
  padding: 10px 0;
  top: 0;
  -moz-transition: top 0.2s;
  -o-transition: top 0.2s;
  -webkit-transition: top 0.2s;
  transition: top 0.2s;
  position: relative;
}
.social-icons li:hover a i {
  top: -100%;
}

#top-bar .social-icons li {
  margin: 0;
}
#top-bar .social-icons li a {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #b3b3b3;
}
#top-bar .social-icons li a:hover {
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
}
#top-bar .social-icons li a i {
  padding: 15px 0;
}
#top-bar .social-icons li, #top-bar .social-icons a, #top-bar .social-icons i {
  height: 40px;
}
.social-icons .facebook a:hover {
  background: #3B5998;
}
.social-icons .twitter a:hover {
  background: #33ccff;
}
.social-icons .pinterest a:hover {
  background: #cb2027;
}
.social-icons .github a:hover {
  background: #000000;
}
.social-icons .linkedin a:hover {
  background: #007bb6;
}
.social-icons .dribbble a:hover {
  background: #EE508D;
}
.social-icons .google-plus a:hover {
  background: #dd4b39;
}
.social-icons .youtube a:hover {
  background: #bb0000;
}
.social-icons .vimeo-square a:hover {
  background: #44bbff;
}
.social-icons .flickr a:hover {
  background: #ff0084;
}
.social-icons .skype a:hover {
  background: #00AFF0;
}
.social-icons .instagram a:hover {
  background: #517fa4;
}
.social-icons .tumblr a:hover {
  background: #00225F;
}
.social-icons .codepen a:hover {
  background: #252527;
}
.social-icons .behance a:hover {
  background: #1769ff;
}
.social-icons .deviantart a:hover {
  background: #4e6252;
}
.social-icons .digg a:hover {
  background: #000;
}
.social-icons .dropbox a:hover {
  background: #007ee5;
}
.social-icons .foursquare a:hover {
  background: #0072b1;
}
.social-icons .jsfiddle a:hover {
  background: #4679bd;
}
.social-icons .openid a:hover {
  background: #f78c40;
}
.social-icons .reddit a:hover {
  background: #ff4500;
}
.social-icons .soundcloud a:hover {
  background: #f80;
}
.social-icons .spotify a:hover {
  background: #7ab800;
}
.social-icons .steam a:hover {
  background: #262627;
}
.social-icons .stumbleupon a:hover {
  background: #eb4924;
}
.social-icons .vine a:hover {
  background: #00b488;
}
.social-icons .lastfm a:hover {
  background: #c3000d;
}
.social-icons .vk a:hover {
  background: #45668e;
}
.social-icons .apple a:hover {
  background: #202020;
}
.social-icons .windows a:hover {
  background: #00bcf2;
}
.social-icons .wordpress a:hover {
  background: #21759b;
}

/*												Progress Bars ^
--------------------------------------------------------------*/
.progress-bars {
	margin-bottom: 30px;
}

.progress-scale {
	height: 6px;
	margin-bottom: 25px;
}

.progress-label {
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 13px;
	color: #474343;
}

.progress-line {
	width: 0;
	height: 6px;
	position: relative;
	-webkit-transition: width 2s ease-in-out;
	transition: width 2s ease-in-out;
}

.progress-line {
	background-color: #8dc73f;
	-webkit-animation: bg-move 2s linear infinite;
	animation: bg-move 2s linear infinite;
}

#section-testimonials {
}

.quote-info {
	text-align: center;
}

.quote-info img {
	border-radius: 50%;
	display: table;
	margin: 0 auto 20px;
	max-width: 100px;
	padding: 5px;
	border: 1px solid #e1e1e1;
}

.quote-info p {
	font-size: 15px;
	font-style: italic;
	font-weight: 400;
	line-height: 25px;
	padding: 0 15%;
}

.quote-info h2 {
	font-size: 15px;
	text-transform: uppercase;
}

.page_header_parallax {
	background: #000 url(../images/bg/p_header.jpg) no-repeat fixed center;
	background-size: cover;
	padding: 80px 0 80px;
}

.page_header_parallax2 {
	background: #000 url(../images/bg/p_header2.jpg) no-repeat fixed center;
	background-size: cover;
	padding: 80px 0 80px;
}

.page_header_parallax3 {
	background: #000 url(../images/bg/p_header3.jpg) no-repeat fixed center;
	background-size: cover;
	padding: 80px 0 80px;
}

.page_header_parallax4 {
	background: #000 url(../images/bg/p_header4.jpg) no-repeat fixed center;
	background-size: cover;
	padding: 80px 0 80px;
}

.page_header_parallax5 {
	background: #000 url(../images/bg/p_header5.jpg) no-repeat fixed center;
	background-size: cover;
	padding: 80px 0 80px;
}

.page_header_parallax6 {
	background: #000 url(../images/bg/p_header6.jpg) no-repeat fixed center;
	background-size: cover;
	padding: 80px 0 80px;
}

.page_header_parallax7 {
	background: #000 url(../images/bg/p_header7.jpg) no-repeat fixed center;
	background-size: cover;
	padding: 80px 0 80px;
}

.page_header h3 {
	font-family:Raleway;
	margin: 0;
	color: #Fff;
	font-size: 40px;
	letter-spacing: -1px;
	line-height: 48px;
	font-weight:300;
}

.page_header h3 span {
    background: #8dc73f;
    font-size: 13px;
    letter-spacing: 2px;
    padding: 4px 6px;
    display: table;
	font-weight:700;
	line-height: 16px;
	text-transform: uppercase;
	margin-bottom:15px;
}

.page_header.career-head {
	background: #000 url(../images/other/career.jpg) no-repeat fixed top center;
	background-position: 0 -35%;
}

.bcrumb-wrap {
border-bottom: 1px solid #F0F0F0;
background:#fff;
height:47px;
}

.bcrumbs {
	margin-top: 10px;
}

.bcrumbs li {
	float: left;
	margin-right: 20px;
	color: #888;
	line-height: 25px;
	position: relative;
	font-size:13px;
}

.bcrumbs li::before {
	content: "/";
	position: absolute;
	right: -12px;
	color: #aaa;
	opacity: 0.5;
}

.bcrumbs li:last-child:before {
	display: none;
}

.bcrumbs li a {
	color: #aaa;
}


.hover-box {
	background: rgba(0, 0, 0, 0.3);
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.hover-zoom {
	display: table;
	margin: 0 auto;
	position: relative;
	top: 50%;
	margin-top: -25px;
}

.hover-zoom a {
	background: #000;
	color: #fff;
	width: 50px;
	height: 50px;
	margin: 0 5px;
	display: inline-block;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	border-radius: 50%;
}

.hover-zoom a:hover {
	background: #8dc73f;
	color: #fff;
}

.hover-zoom .zoom {
	position: relative;
	left: -50px;
	opacity: 0;
	transform: rotate(-140deg);
}

.hover-zoom .link {
	position: relative;
	right: -50px;
	opacity: 0;
	transform: rotate(140deg);
}

.project-item:hover .hover-zoom a.link {
	position: relative;
	right: 0px;
	opacity: 1;
	transform: rotate(0deg);
}

.project-item:hover .hover-zoom a.zoom {
	position: relative;
	left: 0px;
	opacity: 1;
	transform: rotate(0deg);
}

.project-item:hover .overlay-folio {
	opacity: 1;
	transition: .5s;
	visibility: visible;
}

.project-info {
	padding: 20px;
}

.project-info h2 {
	margin: 0;
	font-size: 13px;
	text-transform: uppercase;
}

.project-info p {
	margin: 0;
}

.filter {
	margin: 35px auto 50px;
	display: table;
}

.filter li {
	float: left;
	margin: 0 10px;
}

.filter a {
	color: #000;
	border: 1px solid #000;
	font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
	font-size: 10px;
	letter-spacing: 4px;
	text-transform: uppercase;
	padding: 6px 10px;
}

.filter a:hover {
	color: #fff;
	background: #000;
}

#portfolio-section h3 {
	font-size: 50px;
	margin: 0;
}

.welcome-content h2 {
	font-size: 50px;
	font-weight: 300;
}

h2.title {
	font-size: 40px;
}

.features-left i {
	font-size: 50px;
	float: right;
	color: #8dc73f;
}

.features-left h3,
.features-left p {
	margin-right: 85px;
	text-align: right;
}

.features-left h3 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 70px 85px 15px 0;
}

.features-right i {
	font-size: 50px;
	float: left;
	color: #8dc73f;
}

.features-right h3,
.features-right p {
	margin-left: 85px;
}

.features-right h3 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 70px 0 15px 85px;
}

#home-team .item {
	margin: 0 1px;
	cursor: pointer;
}

.team-inner {
	padding: 12px 5px;
	height: 40px;
	position: absolute;
	bottom: -150%;
	width: 100%;
	transition: .4s;
}

.team-inner::after {
	content: "";
	position: absolute;
	z-index: 44;
	background: #000;
	width: 150%;
	height: 100px;
	bottom: -69px;
	left: -25%;
	right: 0;
	opacity: 0.3;
	transform: rotate(-15deg);
}

#team2 .col-md-3:hover .team-inner ,
#home-team .item:hover .team-inner {
	bottom: 0%;
	transition: .5s;
}

#team2 .col-md-3:hover .team-inner .team-social li a ,
#home-team .item:hover .team-inner .team-social li a {
	bottom: 0%;
	transition: .5s;
}

.team-social {
	display: table;
	margin: 0;
	float: right;
	position: relative;
	z-index: 888;
}

.team-social li {
	float: left;
	margin: 0 7px;
}

.team-social li a {
	color: #fff;
	text-shadow: none;
}

.team-social li a:hover {
	color:#8dc73f !important;
}

#team2 h2,
#home-team h2 {
	padding: 0 15px;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1px;
	margin: 20px 0 5px;
}

#team2 span,
#home-team span {
	padding: 0 15px;
	text-align: center;
	font-size: 13px;
	display: table;
	width: 100%;
	color: #777;
}

#home-team .owl-prev {
	background: #fff;
	border: none;
	width: 70px;
	height: 70px;
	line-height: 70px;
	color: #fff;
	border-radius: 50%;
	font-size: 0px;
	opacity: 1;
	position: absolute;
	left: -100px;
	top: 50%;
	margin-top: -65px;
	transition: .4s;
}

#home-team .owl-prev:after {
	content: "\f104";
	font-family: 'FontAwesome';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	font-size: 40px;
	color: #000;
	line-height: 70px;
	transition: .4s;
}

#home-team .owl-next {
	background: #fff;
	border: none;
	width: 70px;
	height: 70px;
	line-height: 70px;
	color: #fff;
	border-radius: 50%;
	font-size: 0px;
	opacity: 1;
	position: absolute;
	right: -100px;
	top: 50%;
	margin-top: -65px;
	transition: .4s;
}

#home-team .owl-next:after {
	content: "\f105";
	font-family: 'FontAwesome';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 2px;
	right: 0px;
	font-size: 40px;
	color: #000;
	line-height: 70px;
	transition: .4s;
}

#home-team .owl-prev:hover {
	background: #000;
	color: #fff;
}

#home-team .owl-next:hover {
	background: #000;
	color: #fff;
}

#home-team .owl-prev:hover:after ,
#home-team .owl-next:hover:after {
	color: #fff;
	transition: .4s;
}

.staff-img {
	position: relative;
	overflow: hidden;
}

.pricing-table4 {
	border: 1px solid #e9e9e9;
	border-top: 5px solid #333;
	padding: 35px 0;
	margin: 0 -1px 0 0;
}

.pricing-table4 .title h2 {
	font-size: 17px;
	text-transform: uppercase;
	margin: 0;
}

.pricing-table4 .title strong {
	color: #8dc73f;
	font-size: 50px;
	font-weight: 300;
}

.pricing-table4 .title strong sup {
	font-size: 24px;
	font-weight: 400;
	position: relative;
	top: -20px;
}

.pricing-table4 .title strong sub {
	display: block;
	font-size: 12px;
	color: #333;
	font-weight: 400;
	margin-bottom: 36px;
	letter-spacing: 4px;
	text-transform: uppercase;
}

.pricing-table4 li {
	padding: 5px 0;
	color: #777;
}

.pricing-table4#popular {
	padding: 60px 0;
	position: relative;
	top: -25px;
}

.pricing-table4#popular h6 {
	position: absolute;
	top: -18px;
	left: 0;
	right: 0;
	font-size: 11px;
	background: #8dc73f;
	display: table;
	padding: 7px 12px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: 0 auto;
	width:180px;
}

.hq-info {
	padding: 0 30px;
}

.hq-info p {
	font-size: 18px;
	color: #fff;
	font-weight: 300;
	font-style: italic;
}

.hq-info img {
	max-width: 60px;
	border-radius: 50%;
	float: left;
}

.hq-info span {
	color: #fff;
	margin-left: 75px;
	display: table;
	position: relative;
	top: 10px;
	font-size: 12px;
}

.hq-info span strong {
	display: block;
	font-size: 14px;
}

.owl-theme .owl-controls .owl-page span {
	background: rgba(0,0,0,0.5);
}

#home-quote .owl-theme .owl-controls {
	margin-top: 30px;
	text-align: center;
	position: relative;
}

#errorpage .page_header {
	margin-top: -55px;
}

#errorpage .page_header h3 {
    font-size: 29px;
    text-transform: uppercase;
    color: #fff;
    display: table;
    margin: 0px auto;
    position: relative;
    top: 30px;
    padding: 10px 20px;
    letter-spacing: 14px;
}



.c-info {
	background: transparent url("../images/map.png") no-repeat scroll left bottom / 55% auto;
	background-position: 0 100%;
	overflow: visible;
	padding-bottom: 78px;
}

.c-info li i {
	position: absolute;
	left: 0px;
	color: #444;
	top: 6px;
}

.c-info li {
	padding-left: 25px;
	position: relative;
	font-size: 14px;
	color: #999;
	margin-bottom: 13px;
	line-height: 23px;
}

.f-posts li {
	margin-bottom: 10px;
	padding-bottom: 17px;
	border-bottom: 1px solid #383838;
}

.f-posts li:last-child {
	border-bottom: none;
}

.f-posts li img {
	float: left;
	width: 55px;
	border: 5px solid rgba(0,0,0,0.1);
}

.f-posts li h5 {
	margin: 0px 0px 5px 70px;
	font-family: Open Sans;
	font-size: 13px;
}

.f-posts li h5 a {
	color: #fff;
}

.f-posts li h5 a:hover {
	color: #8dc73f;
}

.f-posts li p {
	font-size: 12px;
	margin: 0 0 0 70px;
}

.thumbs li {
	float: left;
	margin: 0 5px 5px 0;
}

.thumbs li img {
	width: 75px;
transition:.4s;
}

.thumbs li img:hover {
opacity:0.7;
transition:.4s;
}

.f-social a {
	border: 1px solid #444;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: inline-block;
	color: #777;
	line-height: 23px;
	text-align: center;
	margin-right: 3px;
	font-size: 11px;
}

.f-social a:hover {
	background: #444;
	color: #999;
	line-height: 23px;
	text-align: center;
	margin-right: 3px;
	font-size: 11px;
}


.f-subscribe small {
	width: 85px;
	height: 76px;
	background: transparent url("../images/bubble.png") no-repeat scroll center center;
	display: table;
	border-radius: 50%;
	float: left;
	padding-left: 15px;
	padding-top: 20px;
	color: #999;
	font-size: 13px;
}

.f-subscribe small em {
	display: block;
	font-size: 11px;
}

.f-subscribe form {
	margin-left: 110px;
	margin-top: 15px;
}

.f-subscribe form input {
	border: 1px solid #555;
	background: transparent;
	height: 50px;
	border-radius: 3px 0 0 3px;
	color: #fff;
	font-size: 13px;
	padding: 0 17px;
	line-height: 48px;
	width: 70%;
	float: left;
}

.f-subscribe form button {
	border: 1px solid #555;
	background: #555;
	height: 50px;
	border-radius: 0 3px 3px 0;
	color: #fff;
	font-size: 14px;
	padding: 0 5px;
	text-align: center;
	line-height: 48px;
	width: 30%;
	float: left;
	text-transform: uppercase;
}

.f-tweet small {
	width: 85px;
	height: 76px;
	background: transparent url("../images/bubble.png") no-repeat scroll center center;
	display: table;
	border-radius: 50%;
	float: left;
	padding-left: 20px;
	padding-top: 20px;
	color: #999;
	font-size: 12px;
}

.f-tweet small em {
	display: block;
	font-size: 14px;
}

.tweets_txt {
	color: #777;
	font-size: 13px;
}

.tweets_txt a {
	color: #aaa;
	font-size: 13px;
}

.tweets_txt span {
	color: #bbb;
	display: block;
	position: relative;
	font-size: 11px;
	margin-top: 3px;
	line-height: 18px;
}

.tweets_txt span:after {
	content: "-";
	float: left;
	position: relative;
}

.tweet-info {
	margin-left: 105px;
	padding-top: 8px;
}

.bm-item {
	width: 33.33333%;
	float: left;
	position: relative;
	margin: 0 0 50px;
	padding: 0 15px;
}

.bm-item .post-title-small {
	font-size: 16px;
}

.blog-mason-4col .bm-item {
	width: 25%;
	float: left;
	position: relative;
	margin: 0 0 40px;
	padding: 0 15px;
}

.blog-mason-2col .bm-item {
	width: 50%;
	float: left;
	position: relative;
	margin: 0 0 40px;
	padding: 0 15px;
}

.blog-single p {
	font-size: 16px;
	line-height: 30px;
}

.prevnext .left {
	text-transform: uppercase;
	color: #000;
	letter-spacing: 5px;
	float: left;
	font-size: 13px;
}

.prevnext .right {
	text-transform: uppercase;
	color: #000;
	letter-spacing: 5px;
	float: right;
	font-size: 13px;
}

.comment-avatar {
	width: 80px;
	height: 80px;
	border: 1px solid #e1e1e1;
	padding: 5px;
	border-radius: 50%;
}

.comment-sub {
	padding-left: 80px !important;
}

.comment-list li {
	margin: 0px 0px 20px;
	display: inline-block;
	width: 100%;
}

.comment-meta {
	margin-left: 95px;
	margin-bottom: 5px;
	font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif;
}

.comment-list li p {
	margin-left: 95px;
	line-height: 21px;
}

.comment-meta li a {
}

.comment-meta em {
	font-style: normal;
	margin-left: 6px;
	font-size: 10px;
}

.reply {
	float: right;
	font-size: 8px;
	padding: 4px 9px !important;
	border: 2px solid #000;
}

.reply:hover {
	background: transparent !important;
	color: #8dc73f !important;
	border: 2px solid #8dc73f;
}

.no-margin-top {
	margin-top: 0px !important;
}

#portfolio-home.folio-boxed-2col .project-item {
	width: 50%;
	overflow: hidden;
}

#portfolio-home.folio-boxed-3col .project-item {
	width: 33.3333333%;
	overflow: hidden;
}

#portfolio-home.folio-boxed-4col .project-item {
	width: 25%;
	overflow: hidden;
}

.overlay-folio2 {
	background: rgba(255,255,255,0.8);
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: .4s;
}

#portfolio-home.folio-boxed-2col .project-info ,
#portfolio-home.folio-boxed-3col .project-info ,
#portfolio-home.folio-boxed-4col .project-info {
	position: absolute;
	bottom: -50%;
	left: 0;
	display: table;
	margin: 0 auto;
	right: 0;
	text-align: center;
	transition: .4s;
	width:100%;
}

#portfolio-home.folio-boxed-2col .project-item img ,
#portfolio-home.folio-boxed-3col .project-item img ,
#portfolio-home.folio-boxed-4col .project-item img {
	transform: scale(1);
	transition: .4s;
}

#portfolio-home.folio-boxed-2col .project-info h2 ,
#portfolio-home.folio-boxed-3col .project-info h2 ,
#portfolio-home.folio-boxed-4col .project-info h2 {
	font-size: 15px;
	color: #000;
	letter-spacing: 1px;
	transition:.4s;
}

#portfolio-home.folio-boxed-2col .project-info h2:hover ,
#portfolio-home.folio-boxed-3col .project-info h2:hover ,
#portfolio-home.folio-boxed-4col .project-info h2:hover {
	color: #8dc73f;
	transition:.4s;
}

#portfolio-home.folio-boxed-2col .project-item:hover img ,
#portfolio-home.folio-boxed-3col .project-item:hover img ,
#portfolio-home.folio-boxed-4col .project-item:hover img {
	transform: scale(1.1);
	transition: .4s;
}

#portfolio-home.folio-boxed-2col .project-item:hover .overlay-folio2 ,
#portfolio-home.folio-boxed-3col .project-item:hover .overlay-folio2 ,
#portfolio-home.folio-boxed-4col .project-item:hover .overlay-folio2 {
	opacity: 1;
	visibility: visible;
	transition: .4s;
}

#portfolio-home.folio-boxed-2col .project-item:hover .project-info ,
#portfolio-home.folio-boxed-3col .project-item:hover .project-info ,
#portfolio-home.folio-boxed-4col .project-item:hover .project-info {
	bottom: 0%;
	transition: .4s;
}

#portfolio-home.gutter .project-item {
	border: 5px solid #fff !important;
}

#portfolio-home.tiles .project-item {
	padding-bottom: 100px;
	border-right: 5px solid #fff !important;
	border-left: 5px solid #fff !important;
}

#portfolio-home.tiles .project-info {
	position: absolute;
	left: 0px;
	display: table;
	margin: 0px auto;
	right: 0px;
	text-align: center;
	transition: all 0.4s ease 0s;
	bottom: 10px;
}

#portfolio-home.tiles .overlay-folio2 {
	opacity: 1 !important;
	visibility: visible !important;
	background: transparent !important;
}

#portfolio-home.tiles .project-gal {
	overflow: hidden;
}

#portfolio-home.tiles .overlay-folio2 {
	opacity: 1 !important;
	visibility: visible !important;
	background: transparent !important;
}

#portfolio-home.tiles .project-item:hover .overlay-folio2 {
	background: rgba(255,255,255,0.8) !important;
}

#portfolio-home.tiles .project-item:hover .project-info {
	transition: all 0.4s ease 0s;
	bottom: 92px;
}

#portfolio-home .project-gal img {
	width: 100%;
}

.no-padding-bottom {
	padding-bottom: 0px !important;
}

.container-full {
	width: 100%;
	padding: 0%;
}

.container-full .folio-boxed-2col .project-item {
	width: 50% !important;
}

.container-full .folio-boxed-3col .project-item {
	width: 33.3333% !important;
}

.container-full .folio-boxed-4col .project-item {
	width: 25% !important;
}

.fsidebar {
	width: 30%;
	float: left;
	padding-right: 30px;
}

#fs-content {
	width: 68%;
	float: right;
}

.fs-info h3 {
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 15px;
}

.project-meta li {
	margin-top: 12px;
	font-size: 11px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
}

.project-meta li i {
	margin-right: 8px;
}

.fsidebar2 {
	width: 30%;
	float: right;
	padding-right: 0px;
	padding-left: 30px;
}

#fs-content.fs-content2 {
	width: 68%;
	float: left;
}

#accordion-career .panel-default > .panel-heading {
	background-color: #fff;
	border: 1px solid #e8e8e8;
	border-left: 1px solid #8dc73f;
	border-radius: 0;
	padding: 0;
}

#accordion-career .panel-title > a {
	padding: 20px 25px;
	display: table;
	width: 100%;
}

#accordion-career.panel-group .panel-heading + .panel-collapse > .panel-body {
	border: 1px solid #e8e8e8 !important;
	margin-top: -1px;
}

#accordion-career .panel-title em {
	font-style: normal;
	font-size: 12px;
	color: #999;
	font-weight: 400;
	font-family: Open Sans;
}

#accordion-career .panel-title {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 16px;
	color: inherit;
	padding-left: 44px;
	position: relative;
}

#accordion-career .panel-title i {
	position: absolute;
	left: 26px;
	font-size: 29px;
}

.our-office {
	border: 1px solid #e1e1e1;
	padding: 30px;
}

.workplace li {
	width: 33.3333%;
	float: left;
	border: 1px solid #e1e1e1;
	padding: 10px;
	margin: 0 -1px -1px 0;
}

.workplace li img {
	opacity: 1;
	transition: .4s;
}

.workplace li:hover img {
	opacity: 0.6;
	transition: .4s;
}

.feature-list li {
	margin-top: 15px;
	position: relative;
	font-size: 14px;
	padding-left: 30px;
	color: #878787;
}

.feature-list li i {
	color: #8dc73f;
	position: absolute;
	left: 5px;
	top: 2px;
}

.countdown.styled {
	width: 100%;
	max-width: 850px;
	margin: -25px auto 0;
	padding: 0 15px;
}

.countdown.styled div {
	width: 25%;
	float: left;
	color: #fff;
	font-size: 100px;
	font-weight: 300;
	text-align: center;
	text-shadow: 0 5px 10px #000;
}

.countdown.styled div span {
	display: block;
	font-size: 13px;
	letter-spacing: 7px;
	text-transform: uppercase;
	font-weight: 600;
	background: #8dc73f;
	color: #fff;
	display: table;
	margin: 0 auto;
	padding: 5px 12px 5px 19px;
	text-align: center;
	text-shadow: none;
}

#uc-main {
	padding: 0;
	height: 100vh;
}



#coming-soon .f-social a {
	border: 1px solid #fff;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: inline-block;
	color: #fff;
	line-height: 23px;
	text-align: center;
	margin-right: 3px;
	font-size: 11px;
}

#coming-soon .f-social a:hover {
	border: 1px solid #000;
	background: #000;
	color: #fff;
}



#uc-main .container {
	height: 100vh;
	display: table;
}

.uc-main {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	position: relative;
	top: -35px;
}

#uc-main .search-container button {
	width: 128px;
	transition: .4s;
}

#uc-main .search-container button:hover {
	transition: .4s;
	background: #7db233;
}

#uc-main .search-container input {
	background: rgba(255,255,255,0.1);
	border: 1px solid rgba(255,255,255,0.3);
	color: #fff !important;
}

#uc-main .search-container input::-webkit-input-placeholder {
 /* WebKit browsers */
	color: #fff;
}

#uc-main .search-container input:-moz-placeholder {
 /* Mozilla Firefox 4 to 18 */
	color: #fff;
	opacity: 1;
}

#uc-main .search-container input::-moz-placeholder {
 /* Mozilla Firefox 19+ */
	color: #fff;
	opacity: 1;
}

#uc-main .search-container input:-ms-input-placeholder {
 /* Internet Explorer 10+ */
	color: #fff;
}

.contact-info i {
	margin-right: 10px;
}

.map-border {
	padding: 6px;
	border: 1px solid #e5e5e5;
}

.list-style1 li {
	padding-left: 25px;
	position: relative;
	margin-bottom: 7px;
	color: #878787;
}

.list-style1 li i {
	position: absolute;
	left: 0;
	top: 3px;
	color: #8dc73f;
}

.list-wrap .col-sm-3 {
	width: 20%;
}

.list-color2 li i {
	color: #0FA2D5;
}

.list-color3 li i {
	color: #FF4862;
}

.cs-wrap {
	display: table;
	margin: 0 auto;
	text-align: center;
}

.cs-wrap span {
	width: 150px;
	height: 150px;
	display: table;
	position: absolute;
	border-radius: 50%;
	line-height: 150px;
	color: #000;
	font-family: Montserrat;
	font-size: 28px;
	letter-spacing: 1px;
}

.cs-wrap .chart-color2 span {
	color: #8dc73f;
}

.cs-wrap .chart-color3 span {
	color: #0FA2D5;
}

.cs-wrap .chart-color4 span {
	color: #FF4862;
}

.cs-wrap h6 {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
}

.progress {
	height: 24px;
	margin-bottom: 40px;
	overflow: visible;
	box-shadow: none;
	border-radius: 0px;
}

.progress-bar {
	margin: 0px;
	border-radius: 0px;
	height: 20px;
	line-height: 20px;
	box-shadow: none !important;
	font-family: Montserrat;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	text-align: left;
	padding: 0 12px;
	position: relative;
}

.progress-bar span {
	position: absolute;
	right: -15px;
	background: #ddd;
	padding: 0px 4px;
	border-radius: 2px;
	top: -25px;
	color: #666;
/**	text-shadow: 0 0 2px #000; **/;
}

.progress-bar-default {
	background: #000;
}

.progress-bar span:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 5px 5px 0;
	border-color: #ddd transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -5px;
	left: 0;
	right: 0px;
	margin: 0 auto;
}

.progress-bar-success {
	background: #8dc73f !important;
}

.progress-bar-info {
	background: #0FA2D5 !important;
}

.progress-bar-warning {
	background: #FF4862 !important;
}

.no-width-skills {
	width: 0% !important;
}

.nav-tabs li.col-md-4 {
	width: 33.3333%;
	padding-left: 0px;
	padding-right: 0px;
}

.nav-tabs li i {
	color: #8dc73f;
	margin-right: 10px;
}

.shop-content {
	background: #fff;
	padding: 100px 0;
}

.shop-grid li {
	width: 33.3333%;
	float: left;
	padding: 0 15px 30px;
}


.line-head {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    margin: 0px 0px 22px;
}

.line-head span {
    background: #FFF;
    padding-right: 15px;
    position: relative;
    z-index: 88;
    margin: 0px 0px 20px;
}

.line-head::after {
    content: "";
    background: #d3d3d3;
    height: 1px;
    position: absolute;
    top: 9px;
    left: 0px;
    width: 100%;
}


.product .text-center {
	border: 1px solid #e5e5e5;
	padding: 10px 10px 15px;
	cursor: pointer;
	transition: .4s;
}

.product:hover .text-center {
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	transition: .4s;
}

.logregform label {
	font-weight:400;
	font-size:13px;
}

.product-overlay {
	display: block;
	height: 50px;
	background: rgba(0,0,0,0.2);
	line-height: 50px;
	position: absolute;
	bottom: -60px;
	width: 100%;
	left: 0px;
	right: 0px;
	transition: .5s;
}

.product:hover .product-overlay {
	bottom: 0px;
	transition: .5s;
}

.product-thumbnail img {
	transform: scale(1);
	transition: .4s;
}

.product:hover .product-thumbnail img {
	transform: scale(1.1);
	transition: .4s;
}

.product-overlay a {
	font-size: 20px;
	margin: 0;
	color: #fff;
	width: 50%;
	float: left;
	text-align: center;
}

.product-overlay a:hover {
	color: #fff;
	background: #000 !important;
}

.product-overlay a:first-child {
	background: rgba(0,0,0,0.2);
}

.product-title {
	margin: 10px 0 5px;
}

.product-title a {
	color: #000;
	font-size: 17px;
}

.product-price {
	font-size: 20px;
	letter-spacing: -1px;
	font-weight: 300;
	margin: 0 auto 15px;
	display: table;
}

.add_to_cart_button {
	padding: 0px !important;
	font-size: 10px;
	border-radius: 3px !important;
	padding: 11px 12px !important;
}

.sorter {
	display: table;
	width: 100%;
	border: 1px solid #e8e8e8;
	padding: 14px;
	max-width: 815px;
	position: relative;
	left: 30px;
	margin: 0 0 25px;
}

.sort1 {
	width: 220px;
	float: left;
}

.sort1 span {
	float: left;
	line-height: 30px;
	font-size: 12px;
	text-transform: uppercase;
	margni-right: 10px;
	font-weight: 600;
}

.sort1 select {
	line-height: 30px;
	border: 1px solid #e5e5e5;
	padding: 5px 5px !important;
	height: 30px;
	font-size: 12px;
	margin-left: 10px;
	text-transform: uppercase;
}

.product-thumbnail {
	position: relative;
	overflow: hidden;
}

.sort1 form {
	float: right;
}

.sort2 {
	width: 172px;
	float: right;
}

.sort2 .span1 {
	float: left;
	line-height: 30px;
	line-height: 30px;
	font-size: 12px;
	text-transform: uppercase;
	margni-right: 10px;
	font-weight: 600;
}

.sort2 select {
	line-height: 30px;
	border: 1px solid #e5e5e5;
	padding: 5px 5px !important;
	height: 30px;
	font-size: 12px;
	margin-left: 10px;
	text-transform: uppercase;
}

.sort2 .span2 {
	font-weight: 600;
	float: right;
	line-height: 30px;
	font-size: 12px;
	text-transform: uppercase;
	margni-right: 10px;
}

.sort2 form {
	width: 80px;
	margin: 0 auto;
	background: #ff0000;
	float: left;
	margin-left: 25px;
}

.sort3 {
	margin-top: 3px;
	float: right;
}

.layout-modes {
	display: table;
	margin: 0px auto;
	line-height: 27px;
}

.shop_pn {
	display: table;
	margin: 0 auto;
}

.shop_pn li {
	float: left;
	margin: 0 5px;
}

.shop_pn li a {
	width: 35px;
	height: 35px;
	color: #000;
	line-height: 35px;
	text-align: center;
	display: table;
	background: transparent;
	border-radius: 50%;
}

.shop_pn li a.active ,
.shop_pn li a:hover {
	color: #fff;
	background: #000;
}

.s_range {
	margin-top: 25px;
}

.range_v {
	margin-top: 35px;
	font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif;
	font-size: 13px;
}

.range_v span {
	font-size: 14px;
	color: #5b5b5b;
	float: left;
	margin-right: 5px;
	line-height: 23px;
}

.range_v input {
	border: medium none;
	display: table;
	float: left;
	width: 44px;
	font-size: 14px;
	color: #5B5B5B;
	margin-right: 9px;
	margin-top: 1px;
}

.filter-btn {
	float: right;
	margin-top: -8px;
}

.filter-btn:hover {
	color: #fff;
}

.range_sep {
	background: #000;
	width: 10px;
	height: 1px;
	display: table;
	position: relative;
	top: 13px;
	right: 20px;
}

.ui-state-default, .ui-widget-content .ui-state-default {
	transition: none !important;
}

.shop-sidebar .widget {
	margin-bottom: 50px;
}

.shop-sidebar .widget h3 {
	margin: 0 0 30px;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1px;
}

.product-categories li {
	margin-bottom: 7px;
}

.product-categories li a {
	color: #888;
}

.product-categories li a:hover {
	color: #8dc73f;
}

.product-categories li:last-child {
	margin-bottom: 0px;
}

.product-categories li i {
	font-size: 20px;
	position: relative;
	top: 4px;
	margin-right: 5px;
	color: #bbb;
}

.widget_popular_products li {
	display: table;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
}

.widget_popular_products li img {
	width: 75px;
	float: left;
}

.product-post-info {
	margin-left: 90px;
}

.product-post-info h5 {
	margin: 10px 0 0px;
}

.product-post-info h5 a {
color:#000;
}

.product-post-info h5 a:hover {
color:#8dc73f;
}

.product-post-info p {
	margin: 0;
	color: #666;
}

.badge {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	padding-top: 15px;
	font-size: 10px;
	position: absolute;
	top: -6px;
	right: -6px;
	font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
	z-index:77;
}

.badge span {
	font-size: 13px;
}

.red {
	background: #f00;
	line-height: 50px;
	padding-top: 0px;
	font-size: 12px;
}

.blue {
	background: #8dcff4;
}

.product {
	position: relative;
}

#gal-slider {
	position: relative;
}

.gal-nav {
	display: block;
	width: 100%;
}

.gal-nav li {
	float: left;
	width: 25%;
	padding: 0 10px;
	cursor: pointer;
}

.gal-nav li img {
	opacity: 1;
	transition: .4s;
}

.gal-nav li.flex-active img {
	opacity: 0.5;
	transition: .4s;
}

.p-price {
	font-size: 40px;
}

.product-size {
	margin: 35px 0 10px;
	display: table;
	width: 100%;
}

.product-size li {
	float: left;
	margin: 0 10px;
}

.product-size span {
	float: left;
	line-height: 29px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	width: 75px;
}

.product-size a {
	color: #000;
	border: 1px solid #000;
	font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
	font-size: 10px;
	letter-spacing: 0px;
	text-transform: uppercase;
	padding: 6px 10px;
	display: table;
}

.product-size a.active ,
.product-size a:hover {
	color: #8dc73f;
	border: 1px solid #8dc73f;
}

.product-clr {
	margin: 15px 0 0px;
	display: table;
	width: 100%;
}

.product-clr li {
	float: left;
	margin: 0 10px;
}

.product-clr span {
	float: left;
	line-height: 29px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	width: 75px;
}

.product-clr a {
	color: #fff;
	font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
	font-size: 10px;
	letter-spacing: 0px;
	text-transform: uppercase;
	padding: 6px 10px;
	display: table;
}

.product-quantity {
	margin: 15px 0 35px;
	display: table;
	width: 100%;
}

.product-quantity span {
	float: left;
	line-height: 29px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	width: 84px;
}

.product-quantity input {
	color: #000;
	font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
	font-size: 12px;
	letter-spacing: 0px;
	text-transform: uppercase;
	padding: 6px 10px;
	width: 50px;
	display: table;
	text-align: center;
}

.shop-btn-wrap {
	display: table;
	margin-bottom: 27px;
}

.shop-btn-wrap a {
	float: left;
	margin-right: 5px;
	padding: 13px 15px !important;
	font-size: 11px !important;
}

.product-meta {
	font-size: 13px;
}

#p-single .nav-tabs li a {
	padding: 21px 10px !important;
}

.box-content {
	border: 1px solid #e4e4e4;
	padding: 15px 30px 30px;
}

.cart-table thead tr th {
	background: #000;
	color: #fff;
	border: 1px solid #222;
	font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
	text-transform: uppercase;
	line-height: 40px;
}

.cart-table thead {
	border-top: 1px solid #000;
}

.cart-table tbody tr td  a {
	color: #000;
	font-weight: 600;
}

.cart-table tbody tr td  a:hover {
	color: #8dc73f;
}

.cart-table thead tr th  ,
.cart-table tbody tr td {
	vertical-align: middle;
	text-align: center;
}

.coupon {
	text-align: left;
	padding: 5px 0 10px;
}

.coupon input {
	border: 1px solid #000;
	height: 35px;
	padding: 0 15px;
	line-height: 33px;
	width: 70%;
	float: left;
	color: #000;
	font-size: 13px;
}

.coupon button {
	color: #fff;
	text-transform: uppercase;
	background: #000;
	height: 35px;
	padding: 0 15px;
	border: none;
	line-height: 35px;
	width: 30%;
	font-size: 10px;
	transition: .4s;
	color: #fff;
}

.coupon button:hover {
	background: #555;
	transition: .4s;
	color: #fff;
}

.cart-btn {
	float: right;
	margin-top: 17px;
}

.cart-btn button {
	float: left;
	margin-left: 5px;
}

.coupon {
	width: 260px;
}

.billing-details select {
	height: 50px;
	border: 1px solid #e5e5e5;
}

.billing-details label {
	font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #666;
}

.payment-method span {
	display: inline-block;
	margin-left: 9px;
	position: relative;
	top: -1px;
	font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
}

.table.extra-padding tbody tr th,
.table.extra-padding tbody tr td {
	padding: 15px;
}

.higlight {
	color: #8dc73f;
}

#about-section2 {
	padding-top: 55px;
}

#about-section2 .about-box {
	margin-bottom: 55px;
}

#about-section2 .about-box .about-post {
	text-align: center;
}

#about-section2 .about-box .about-post a {
	display: inline-block;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	width: 100px;
	height: 100px;
	margin: 0 0 24px;
	line-height: 100px;
	color: #ffffff;
	font-size: 30px;
	text-align: center;
	background: #222222;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

#about-section2 .about-box .about-post a:hover,
#about-section2 .about-box .about-post a.active {
	background: #8dc73f;
}

#about-section2 .about-box .about-post h2 {
	color: #222222;
	font-size: 15px;
	font-weight: 700;
	margin: 0 0 15px;
}

#about-section2 .content-tab {
	padding-top: 65px;
	background: url('../images/bg/parallax/4.jpg') center top fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: relative;
}

#about-section2 .content-tab .container {
	position: relative;
	z-index: 2;
}

#about-section2 .content-tab .tab-cont {
	display: none;
	position: relative;
}

#about-section2 .content-tab .tab-cont h2 {
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 30px;
	color: #8dc73f;
}

#about-section2 .content-tab .tab-cont p {
	color: #cccccc;
	margin-bottom: 15px;
}

#about-section2 .content-tab .tab-cont .image-content {
	text-align: center;
}

#about-section2 .content-tab .tab-cont .image-content img {
	max-width: 100%;
}

#about-section2 .content-tab .tab-cont .retina-content {
	text-align: center;
}

#about-section2 .content-tab .tab-cont .retina-content h2 {
	margin-bottom: 20px;
	margin-top: 0;
}

#about-section2 .content-tab .tab-cont .retina-content img {
	max-width: 100%;
}

#about-section2 .content-tab .tab-cont.active {
	display: block;
}

#about-section2 .content-tab .tab-cont:before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	top: -65px;
	border: 50px solid #ffffff;
	border-left-width: 50px;
	border-right-width: 50px;
	border-top-width: 25px;
	border-bottom-width: 25px;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

#about-section2 .content-tab .tab-cont[data-tab="1"]:before {
	left: 60px;
}

#about-section2 .content-tab .tab-cont[data-tab="2"]:before {
	left: 300px;
}

#about-section2 .content-tab .tab-cont[data-tab="3"]:before {
	left: 540px;
}

#about-section2 .content-tab .tab-cont[data-tab="4"]:before {
	left: 780px;
}

#about-section2 .content-tab:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(34, 34, 34, 0.7);
}

.rw-home .project-item {
	width: 100%;
}

.client-logo a {
	opacity:0.4;
	display:table;
	margin:0 auto;
}

.client-logo a:hover {
	opacity:1;
}





#carousel_five .owl-prev {
	background: #fff;
	border: 1px solid #000;
	width: 44px;
	height: 44px;
	line-height: 42px;
	color: #fff;
	border-radius: 50%;
	font-size: 0px;
	opacity: 0;
	position: absolute;
	left: -50px;
		transition:.4s;
	top: 50%;
	margin-top: -22px;
	transition: .4s;
}

#carousel_five .owl-prev:after {
	content: "\f104";
	font-family: 'FontAwesome';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	font-size: 25px;
	color: #000;
	line-height: 42px;
	transition: .4s;
}

#carousel_five .owl-next {
	background: #fff;
	border: 1px solid #000;
	width: 44px;
	height: 44px;
	line-height: 42px;
	color: #fff;
	border-radius: 50%;
	font-size: 0px;
	opacity: 0;
	position: absolute;
	right: -50px;
		transition:.4s;
	top: 50%;
	margin-top: -22px;
	transition: .4s;
}

#carousel_five .owl-next:after {
	content: "\f105";
	font-family: 'FontAwesome';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 2px;
	right: 0px;
	font-size: 25px;
	color: #000;
	line-height: 42px;
	transition: .4s;
}

#carousel_five:hover .owl-prev  {
	opacity:0.3 !important;
		left:0px !important;
		transition:.4s !important;
}

#carousel_five:hover .owl-next  {
	opacity:0.3 !important;
		right:0px !important;
		transition:.4s !important;
}

#carousel_five .owl-prev:hover {
	background: #000;
	border: 1px solid #000;
	width: 44px;
	height: 44px;
	line-height: 42px;
	color: #fff;
	border-radius: 50%;
	font-size: 0px;
	opacity: 1;
			transition:.4s;

	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -22px;
	transition: .4s;
}

#carousel_five .owl-next:hover {
	background: #000;
	border: 1px solid #000;
	width: 44px;
	height: 44px;
	line-height: 42px;
	color: #fff;
	border-radius: 50%;
	font-size: 0px;
	opacity: 1;
	position: absolute;
	right: 0px;
		transition:.4s;
	
	top: 50%;
	margin-top: -22px;
	transition: .4s;
}

#carousel_five .owl-prev:hover:after ,
#carousel_five .owl-next:hover:after {
	color: #fff;
	transition: .4s;
}

.hb-info h4 {
	margin:20px 0 15px;
}

.hb-info h4 a {
	color:#000;
}

.hb-thumb {
	position:relative;
}

.date-meta {
    background: #8dc73f ;
    font-size: 15px;
    color: #FFF;
    text-align: center;
    position: absolute;
    top: 0;
    padding: 6px 13px;
}

.date-meta span {
	display:block;
	font-size:26px;
font-weight:700;
}




.home-contact-form .input-wrap, .home-contact-form .textarea-wrap {
	display: block;
	margin: 0 0 12px 0;
	position: relative;
}

.home-contact-form .input-wrap i {
	position: absolute;
	top: 9px;	left: 11px;

	color: #c1c4c5;
}

.home-contact-form .textarea-wrap i {
	position: absolute;
	top: 12px;	left: 11px;

	color: #c1c4c5;
}

.home-contact-form .input-wrap i + input, .textarea-wrap i + textarea {
	padding-left: 31px;
}

.home-contact-form input:focus + i{color: #000 !important;}
.home-contact-form textarea:focus + i{color: #000 !important;}


.home-contact-form .input-wrap input,
.home-contact-form .textarea-wrap textarea,
.home-contact-form .select-wrap select {
	width: 217px;
	height: 33px;

	padding: 0 12px;
	padding-left:40px;	
	background: #fafafa;
	
	border: 1px solid #e2e2e2;
	border-top: 1px solid #d4d4d4;
	outline: none;
	border-radius: 2px;

	color: #65686d;
	font-size:13px;
	line-height: 1.6;

	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.home-contact-form .textarea-wrap textarea {
	width:100%;
	height:100px;
	padding:10px 20px 15px 40px;
}

.home-project-3col .project-item  {
	width:33.3333%;
	border:10px solid #fff;
}

#team2 .text-center {
	padding:0 15px;
}

#team2 .text-center p {
font-size:12px;
}

#team2 .text-center .team-social {
	display:table;
	float:none;
	margin:0 auto;
}

#team2 .text-center .team-social a {
color:#000;
text-shadow:none !important;

}


#team2 .text-center .team-social a:hover {
color:#8dc73f;
text-shadow:none !important;

}

.highlight {
	color:#8dc73f !important;
}

.highlight2 {
	color:#FDC502 !important;
}


.border-top {
	border-top:1px solid #e9e9e9;
}

#one-res .highlight3 {
	font-family: 'Lovers Quarrel', cursive;
	color:#8dc73f;
	font-size:120px;
	margin:0 0 -40px;
	font-weight:300;
}

.highlight4 {
	color:#8dc73f !important;
}

#one-res .project-info h2 {
	font-size:15px;
	position:relative;
}

#one-res .project-info h2 span {
	float:right;
	color:#8dc73f;
	position:relative;
}

#one-res .project-info h2 span:before {
	content:".... ";

}

.header-x {
    padding: 34px 0 0 15px;
}

.header-x .s-cart {
	float:left;
	margin-right:10px;
	position:relative;
	cursor:pointer;
}

.sc-trigger span {
background: #8dc73f;
color: #FFF;
padding: 0px;
font-size: 12px;
border-radius: 50%;
width: 18px;
height: 18px;
display: inline-block;
line-height: 16px;
text-align: center;
position: relative;
top: -9px;
}

.header-x .s-search{
	float:right;
	cursor:pointer;
}

.header-x .s-search i {
font-size:12px;
position:relative;
top:2px;
	transition:.4s;
}

.ss-trigger i:hover {
	color:#8dc73f;
	transition:.4s;
}

.cart-info {
    background: #fff;
    display: table;
    padding: 25px;
    position: absolute;
    width: 280px;
    right: -22px;
    top: 55px;
    border-top: 4px solid #8dc73f;
	opacity:0;
	visibility:hidden;
	transition:.4s;
}

.s-cart:hover .cart-info {
	opacity:1;
	visibility:visible;
	transition:.4s;
}

.cart-info:after {
	content: "";
	height: 30px;
	background: #fff;
	width: 100%;
	position: absolute;
	top: -30px;
	left: 0;
	right: 0;
	opacity: 0;
}

.ci-item {
    display: table;
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 4px;
    margin-bottom: 13px;
}

.ci-item img {
	float: left;
}

.ci-item-info {
	margin-left: 92px;
}

.ci-item-info h5 {
	font-family: Raleway !important;
	font-size: 13px;
	color: #333333;
	text-transform: none;
	margin: 0 0 1px;
	color: #333333;
}

.ci-item-info h5 a {
	color: #333333;
}

.ci-item-info h5 a:hover {
	color: #8dc73f;
}

.ci-item-info p {
	color: #666;
}

.ci-edit a {
	background: #aaaaaa;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #fff;
}

.ci-edit a:hover {
	background: #444444;
	color: #fff;
}

.ci-total {
	font-size: 15px;
	text-transform: none;
	margin: 10px 0 15px;
}

.cart-btn a {
	background: #8dc73f;
    padding: 10px 16px;
    color: #FFF;
    text-transform: uppercase;
    border: medium none;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: Montserrat;
    border-radius: 0px;
    display: inline-block;
    transition: all 0.4s ease 0s;
    float: left;
}

.cart-btn a:first-child {
	background: #333333;
}

.cart-btn a:hover {
	background: #000;
	color: #fff;
}

.ss-content {
	background:rgba(255,255,255,0.8);
	position:fixed;
	height:100%;
	width:100%;
	z-index:999999999;
	top:0;
	left:0;
	right:0;
	visibility:hidden;
	opacity:0;
	transition:.4s;
}

.ss-content-act {
	visibility:visible;
	opacity:1;
}	

.ssc-inner {
	height:100vh;
	display:table;
	margin:0 auto;
	width:50%;
}

.ssc-inner form {
	display:table-cell;
	vertical-align:middle;
	margin:auto;
	position:relative;
}

.ssc-inner form input {
	background:transparent;
	border:none;
	width:100%;
	height:90px;
	color:#000;
	line-height:88px;
	font-size:30px;
	border-bottom:4px solid #8dc73f;
	font-weight:300;
	padding-right:60px;
}

.ssc-inner form button {
    border: none;
    background: transparent;
    color: #000;
    position: absolute;
    right: 0px;
    margin-top: 33px;
}

.intro-wrap {
	background:url(../images/slider/9.jpg) no-repeat center;
	background-size:cover;
}

.intro-wrap h1 {
	font-family:Open Sans;
	font-size:70px;
	font-weight:300;
	color:#fff;
	margin:200px 0 0;
}

.intro-wrap p {
	font-size:16px;
	font-weight:400;
	color:#fff;
	margin:20px 0 30px;
}

.head-w-ul span {
	font-weight:700;
	border-bottom:4px solid #8dc73f;
	color:#8dc73f;
}

.donate-meter {
    text-align: left;
    padding: 80px 10px 20px;
    margin: -131px 0px 0px;
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    position: relative;
    z-index: 888;
}

.donate-meter em {
	color:#fff;
	display:block;
	margin-bottom:8px;
}

.dm-wrap {
	height:3px;
	background:rgba(0,0,0,0.2);
	position:relative;
}

.dm-wrap span{
	height:3px;
	background:#8dc73f;
	position:relative;
	display:table;
}

.volunter-info {
	background:rgba(0,0,0,0.4);
	padding:25px;
}

.volunter-info .button {
	background:#8dc73f;
}

#one-gym .ct-info small {
	color:#878787;
}

#one-gym .ct-info small i {
margin-right:5px;
}

.dual-btns a {
	display:inline-block;
	margin:0 1px;
	padding:0 30px;
	width:200px;
}

.dual-btns.auto-width a {
	width:auto;
}


@media screen and (-webkit-min-device-pixel-ratio:0) { 
.ssc-inner form button {
    margin-top: -50px;
}

}

.ssc-inner form button i {
    font-size: 27px !important;
}

.ss-close {
    font-size: 51px;
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: 0.2;
}

.ss-close:hover {
    opacity: 0.6;
}

.rating {
	float:left;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 22px;
	font-size:23px;
   color: #8dc73f;
	padding-right:5px;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: -2px; 
   color: #8dc73f;
}

.rating2 {
    display: table;
    unicode-bidi: bidi-override;
    padding-left: 15px;
    position: relative;
    top: -7px;
}
.rating2 > span {
  display: inline-block;
  position: relative;
	font-size:16px;
   color: #8dc73f;
}

#header2 .header-x {
    padding: 18px 0px 0px 15px;
    position: relative;
    z-index: 8888888;
}

#header2 #top-bar {
    height: 90px;
}

#header2 #top-bar .top-bar-content {
    border-right: none;
}

#header2 .navbar-brand > img {
    display: block;
    width: 152px;
    margin: -9px auto 0px;
}

#header2 header {
border-top: 1px solid rgba(0, 0, 0, 0.07);
}

#header2 .navbar-center {
	float:none;
    display: table !important;
    margin: 0 auto !important;
}

#header2 #top-bar .top-login ,
#header2 #top-bar .nav-social-icons ,
#header2 .social-icons li {
	border:none;
}

#header2 .h2-tr {
    padding: 25px 0;
}

#header4 #top-bar {
	background:#000;
	border:none;
}

#header4 #top-bar a ,
#header4 #top-bar .top-bar-content p ,
#header4 #top-bar .social-icons li a {
    color: #666;
	border:none;
}

#header4 #top-bar .social-icons li a:hover {
    color: #fff;
}

#header4 #top-bar a:hover {
    color: #aaa;
}

#header5 .header-wrap {
	position:absolute;
	top:0;
	width:100%;
	left:0;
	right:0;
}

#header5 #top-bar ,
#header5 header {
	background:transparent;
	border:none;
}

#header5 #top-bar {
	border-bottom:1px solid rgba(0,0,0,0.1);
}

#header5 .navbar-nav > li > a:focus ,
#header5 .navbar-nav > li > a {
	background:transparen !important;
	color:#fff;
}

.navbar-default .navbar-nav > li.active > a {
	color:#8DC73F !important;
	background:transparent !important;
}

#header5 .sc-trigger i,
#header5 .ss-trigger i {
	color:#fff;
}

#header5 .is-sticky header {
	background:#000;
}

#header5 .header-wrap {
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    right: 0px;
    z-index: 99999999;
    background: rgba(0,0,0,0.1);
}

#header5 #top-bar a ,
#header5 #top-bar .top-bar-content p ,
#header5 #top-bar .social-icons li a {
    color: #fff;
	border:none;
}

#header4 #top-bar .social-icons li a:hover {
    color: #fff;
}

#header4 #top-bar a:hover {
    color: #aaa;
}

.about-doctor h1 {
	margin-top:120px;
}

.book-doctor {
    background: #8DC73F;
    padding: 30px 40px;
    display: table;
    margin: 300px auto 50px;
    color: #fff;
    font-family: montserrat;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 3px;
}

.book-doctor:hover {
    background: #000;
    color: #fff;
}

.domain-box {
	background:#8DC73F;
	padding:30px;
	text-align:center;
}

.domain-box.db-dark {
	background:#7eb534;
	padding:30px;
	text-align:center;
}

#domain-sform input {
    border: none;
    height: 70px;
    padding: 0 30px;
}

#domain-sform select {
    border: none;
    height: 70px;
}

ul.tld_list {
	margin:50px 0 0 ;
}

ul.tld_list .number {
	background:#8DC73F;
	width:60px;
	color:#fff;
	height:60px;
	font-size:21px;
	text-align:center;
	border-radius:50%;
	float:left;
	line-height:60px;
}

ul.tld_list .text {
color: #fff;
line-height: 60px;
margin-left: 77px;
font-size: 16px;
text-transform: uppercase;
}

@media only screen and (min-width: 768px)  and (max-width: 959px)  {


.nav-tabs li a {
    padding: 40px 5px;
    font-size: 12px;
}

.layout-modes {
    display: none;
}

.filter-btn {
    float: none;
    margin-top: -8px;
    margin-bottom: 40px;
    position: relative;
    top: 44px;
}

.fsidebar {
    width: 40%;
}

#fs-content {
    width: 58%;
}

#header-main .navbar-nav > li > a {
    padding: 35px 15px;
}

.thumbs li img {
    width: 50px;
}

#fs-content.fs-content2 {
    width: 58%;
    float: left;
}

.shop-grid li {
    width: 50%;
    float: left;
    padding: 0px 15px 30px;
}


}

@media screen and (max-width: 767px) {

.header-x {
    padding: 34px 0px 0px 15px;
    position: absolute;
    top: -7px;
    float: right !important;
    right: 0;
}

.navbar-toggle {
    margin-right: 72px !important;
}

.project-item {
    width: 100%;
    float: left;
}

.section-team-block p {
    margin: 0px 0px 15px;
    font-size: 11px;
    line-height: 18px;
}

.stats2-info {
    margin: 25px 0 !important;
}


.nav-tabs li {
    min-height: 130px;
}

.nav-tabs li a {
font-size: 11px;
}

.nav-tabs li a span {
    display: block;
}

.shop-grid li {
    width: 100%;
    float: left;
    padding: 0px 15px 30px;
}

.filter-btn {
    float: none;
    margin-top: -8px;
    margin-bottom: 40px;
    position: relative;
    top: 44px;
}
.fc-main {
    padding: 80px 0px 0px 0px;
}

.cta-dark p {
    margin: 0px 0px 20px;
}

.search-container h4 {
    margin: 0px 0px 50px;
    text-transform: uppercase;
    font-size: 24px;
}

.recent-search li a {
    border: 1px solid #000;
    padding: 2px 9px;
    color: #000;
    display: table;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 4px;
}

.recent-search li {
    padding: 0px 10px 12px;
}

.filter li {
    float: left;
    margin: 0px 10px 15px;
}

.fsidebar {
    width: 100%;
    float: none;
    padding-right: 0;
    margin-bottom: 40px;
}

#fs-content {
    width: 100%;
    float: right;
}

#fs-content.fs-content2 {
    width: 100%;
    float: left;
}

.style2 span {
    color: #000;
    font-size: 30px;
    position: relative;
}
.navbar-brand {
    margin-top: 14px;
}

.navbar-toggle {
    margin-top: 14px;
    margin-right: 0;
}

#header-main .navbar-nav > li > a {
    padding: 12px 18px;
}

.dropdown-menu {
    position: relative;
    min-width: 100%;
}

.navbar-nav {
    float: left;
    margin: 0px 0px -1px;
    width: 100%;
}

.navbar-nav {
    float: left;
    margin: 0px 0px -1px;
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

}

.slider-wrap {
	position:relative;
}

.style2 {
    padding: 0;
}

.navbar-collapse {
overflow: hidden !important;
padding: 0 !important;

}

.style2 p {
    font-size: 27px;
    font-weight: 100;
    line-height: 36px;
}

.quote-meta {
    padding-left: 0;
}

.post-meta span {
    font-size: 10px;
}

.page_nav a {
    width: 30px;
    line-height: 30px;
    margin: 0px 0px;
}

.pricing-table3 ul li {
    width: 100%;
	max-width:350px;
    margin: 0px 0 30px;
}

.container {
	width:100%;
	max-width:500px;
	margin:0 auto;
}

aside {
	margin-bottom:30px;
}

.pricing-table2 tbody tr td:nth-child(2), .pricing-table2 tbody tr td:nth-child(3), .pricing-table2 tbody tr td:nth-child(4) {
    font-size: 13px;
}

.pricing-table2 tbody tr td:first-child {
    font-size: 14px;
}

.pricing-table2 tbody tr td:first-child i {
    font-size: 20px;
    margin-right: 8px;
    position: relative;
    top: 1px;
}

.container-full .folio-boxed-2col .project-item {
    width: 100% !important;
}

#portfolio-home.folio-boxed-2col .project-item {
    width: 100%;
    overflow: hidden;
}

.f-tweet small {
    float: none;
}

.tweet-info {
    margin-left: 0;
    padding-top: 8px;
    margin-bottom: 32px;
}

#errorpage .page_header h3 {
    font-size: 16px;
    letter-spacing: 2px;
}

.error-404 h2 {
    font-size: 100px;
}

.f-subscribe small {
    float: none;
}

.f-subscribe form {
    margin-left: 0;
    margin-top: 15px;
}

.page_header h3 {
    font-size: 34px;
}

.style2 span {
    color: #000;
    font-size: 30px;
    position: absolute;
    display: block;
    height: 55px;
}

.style2 p {
    padding-top: 40px;
}


.f-social {
    float: none !important;
    margin: 0px auto;
}

}
